<html ng-app='InstagramSearcher'>
<head>
  <title>Instagram Searcher</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller='searchController'>
  <div class='mainContainer text-center'>
    <div class='row '>
      <img src="./img/ng-instagram.png">
    </div> <br>
    <div class='row'>
      <form name='searchForm' ng-submit='submitClicked()' novalidate>
        <input type='text' name='text' class='' ng-model='searchText' ng-pattern='wordRegEx' placeholder='Enter a tag to search...' required>
        <input class='btn btn-primary' type='submit' ng-disabled='!searchForm.text.$valid' value='Search'>
      </form>
    </div> <br>
    <div class='row'>
      <span ng-show="searchForm.text.$error.pattern">Please enter a valid, single word</span>
      <p ng-show='searchInProgress'>Searching Instagram for photos tagged with "{{searchTextCopy}}"</p>
      <p ng-show='searchCompleted'>We found {{numberOfResults}} results for "{{searchTextCopy}}" ({{elapsedTime}} secs)</p>
    </div>
    <div class='row'>
      <img class='instagramImage animate-repeat' ng-repeat='obj in searchResults.data' ng-src='{{obj.images.low_resolution.url}}'>
    </div>
  </div>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-animate/angular-animate.js'></script>
  <script src='src/app.js'></script>
</body>
</html>
