<html ng-app='InstagramSearcher'>
<head>
  <title>Instagram Searcher</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller='searchController'>
  <div class='mainContainer text-center'>
    <div class='row '>
      <img src="./img/ng-instagram.png">
    </div> <br>
    <div class='row'>
      <input class='' ng-model='searchText' placeholder='Enter a tag to search...'>
      <button ng-click='submitClicked()'>Submit</button>
    </div> <br>
    <div class='row'>
      <p ng-show='searchInProgress'>Searching Instagram for photos tagged with "{{searchText}}"</p>
      <p ng-show='searchCompleted'>We found {{numberOfResults}} results for "{{searchText}} ({{elapsedTime}} secs)</p>
    </div>
    <div class='row'>
      <img ng-repeat='obj in searchResults.data' ng-src='{{obj.images.low_resolution.url}}'>
    </div>
  </div>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/angular-animate/angular-animate.js'></script>
  <script src='src/app.js'></script>
</body>
</html>
